body {
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* border: 2px solid red; */
  /* background: red; */
}

.disp {
  position: absolute;
  top:0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -999;
  /* border: 2px solid blue; */
}

.nav{
  position: absolute;
  top:5px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  /* border: 2px solid green; */
}

.title {
  position: relative;
  top: 10px;
  left: 50px;
  font-family: 'Yantramanav', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  opacity: 0.6;
  color: #fff;
  z-index: 999;
  /* border: 2px solid brown; */
  
}

.logo {
  position: relative;
  top: 20px;
  width: 200px;
  height: 40px;
  margin-left: 80px;
  /* border: 2px solid red; */
}

.logo img{
position: absolute;
top: 0;
left: 0;
width: 100%;

}
.menu{
    /* border: 2px solid pink; */
    margin-right: 90px;

}

.menuItem{
  list-style: none;
  display:  inline-block;
  padding: 0px 20px;
 

}

.menuItem h2 {
  font-family: 'Yantramanav', Arial, sans-serif;
  font-size: 15px;
  opacity: 0.6;
  color: #fff;
}

.textIntro{
  position: relative;
  top: 60px;
  left: 10px;
  height: 90vh;
  /* display: inline-block; */
  overflow: hidden;
  /* align-content:flex-end; */

  /* border: 2px solid rgb(17, 0, 255); */
}

.heroText{
  position: absolute;
  left: -50px;
  top: 55vh;
  opacity: .6;
  color: rgba(0, 0, 0, 0.2); 
  -webkit-text-stroke: 1px #fff;
  font-family: 'Poppins';
  font-weight: 700;
  /* letter-spacing: -200; */
  font-size: 40px;
  transform: rotate(-90deg);
  
  /* color: #fff; */
  /* border: 2px solid green; */
}
.subTitle{
  position: absolute;
  top: 78vh;
  left: 240px;
  opacity: .7;
  width: 600px;
  /* font-family: 'Poppins'; */
  font-weight: 600;
  font-family: 'Yantramanav', Arial, sans-serif;
  /* letter-spacing: -200; */
  font-size: .8vw;
  color:#fff;
  /* transform: rotate(-90deg); */
  /* border: 2px solid red; */
}

/* WEORK PAGE ITEMS */


.grid {
  /* display: grid; */
  /* grid-template-columns: repeat(8, 1fr); */
  /* gap:0px 0px; */
  /* justify-items: center; */
  /* justify-content: center; */
  /* background: rgb(0, 59, 66); */
  max-width: 90vw;
  margin: auto;
  padding-left: 30px;
  padding-top: 30px;
  
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
  
}

/* ---- .grid-item ---- */

.grid-item {
  /* float: left; */
  /* justify-self: center; */
  width: 290px;
  margin: 5px 2px;
  border-radius: 5px;
  overflow: hidden;
  background: rgba(67, 120, 151, 0.7);
  
  /* ,  */
  
}
.transition-griditem{
  transition: box-shadow .5s ease, transform .1s  ease-out;
}

.grid-item:hover{
  transform:  scale(1.25) ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  z-index: 99999999;
}

.grid-item img {
  display: block;
  max-width: 100%;
  opacity: .8;
  border-radius: 5px;
  transform: scale(1.25);
  transition: transform .5s ease, Opacity .2s ease ;
    /* filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); Firefox 3.5+ */
  filter: gray; 
  /* IE6-9 */
  -webkit-filter: grayscale(100%); Chrome 19+ & Safari 6+
  
}

.grid-item:hover img {
  filter: none;
  -webkit-filter: grayscale(0%);
  transform: scale(1) ;
  opacity: 1;
  /* z-index: 9999; */
	-webkit-transform: translate3d(0,0,0) scale(1);
	
}
  


.is-checked{
  background: red;
}